


@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&family=Raleway:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Griffy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fasthand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Nastaliq+Urdu&display=swap');

.container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.buttonsContainer{
  display: flex;  
  justify-content: space-between;
  width: 20em;

}
.intro{
  font-family: 'Dancing Script', cursive;
  font-size: 35px;
}
.instructions{
  font-family: 'Raleway', sans-serif;
}
button{
  width: 70px;
  height: 70px;
}   
.win{
  background-color: rgb(255, 217, 0);
  color: rgb(0, 0, 0);
  border: none;
  font-family: 'Griffy', cursive;
  font-weight: 900;
  font-size: 30px;
}
.lose{
  background-color: rgb(255, 4, 45);
  color: rgb(0, 0, 0);
  border: none;
  font-family: 'Noto Nastaliq Urdu', serif;
  font-weight: 900;
  font-size: 30px;
}
.results{
  font-family: 'Fasthand', cursive;
  font-size: 65px;
  
}